*{
    margin: 0%;
    padding: 0%;
}

.TopbarMain {
    margin-bottom: 25px;
    margin-top: 10px;
    display: flex;
;
    flex-direction: row;
    justify-content: space-between;
}

.logo img {
    width: 180px;
    float: left;
    cursor: pointer;
}

.Container {
    width: 1280px;
    margin: 0 auto;
    padding: 20px 50px;
   
}

ul li:hover {
    list-style: none;
    display: inline-block;
    text-transform: normal;
    margin-left: 20px;
    margin-top: 15px;
    font-family: inter, poppin;
    font-size: 16px;
    font-weight: 400px;
    color: rgb(255, 162, 0);
}

ul li {
    list-style: none;
    display: inline-block;
    text-transform: normal;
    margin-left: 20px;
    margin-top: 15px;
    font-family: inter, poppin;
    font-size: 16px;
    font-weight: 400px;
    cursor: pointer;
}

#BackgroundSlider{
background-image: url(../Image/frontpage.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: 100%;
overlay: ;

}

.slidercontent {
    width: 400px;
    background: #00000052;
    color: white;
    text-align: left;
    display: inline-block;
    margin-block: 130px;
    font-size: 25px;
    padding: 39px;
    
}

.slidercontent p {
    font-size: 16px;
    font-family: 'Inter';
    width: 65%;
}

.slidercontent h2 {
    font-size: 45px;
    line-height: 1.2em;
    font-family: 'Inter';
    width: 75%;
}

button#sliderWorkButton {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background: #548b34;
    color: white;
    font-size: 16px;
    font-family: inter;
    font-weight: 400px;
    margin-top: 20px;
    cursor: pointer;
}

button#sliderWorkButton:hover {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background: rgb(186, 72, 186);
    color: white;
    font-size: 16px;
    margin-top: 20px;
    transition: all 2s;
}

.fa.fa-facebook-official {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    background: #057bf5;
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.fa.fa-twitter {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    background: #00a1ff;
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;

}

.fa.fa-linkedin {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    background: #008ef3;
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

i.fa.fa-sign-in:hover {
    color: #dd23bb;
    cursor: pointer;
}

i.fa.fa-sign-in {
    color: #66c430;
    cursor: pointer;
}

i.fa.fa-google-plus-official {
    background: red;
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.mainService {
    width: 249px;
    padding: 30px;
    background: #f9f9f9;
    text-align: center;
    margin-top: 50px;
    display: inline-block;
    margin-left: 10px;
    border-radius: 10px;
}

.mainService:hover {
    width: 249px;
    padding: 30px;
    background: #e3e3e3;
    text-align: center;
    margin-top: 50px;
    display: inline-block;
    margin-left: 10px;
    border-radius: 10px;
    transition: all 1s;
}
.icon-box {
    display: flex;
    gap: 10px;
}

i.fas.fa-users {
    width: 47px;
    height: 45px;
    color: white;
    margin: auto;
    font-size: 40px;
    background: #316dc5;
    border-radius: 100%;
    padding: 12px;
    margin-bottom: 10px;
}

.becomeLender {
    width: 380px;
    background: #48aaad9e;
    padding: 20px;
    margin-top: 50px;
    font-size: 18px;
    float: left;
    margin-left: 120px;
    margin-bottom: 35px;
}

.BlogContainer {
    width: 490px;
    background: #f9f9f9;
    margin-top: 60px;
    padding: 30px;
    text-align: left;
    display: inline-block;
    margin-left: 10px;
}

h1 {
    text-align: center;
}

#Member {
    background: #f1f1f1;
    margin-top: 40px;
    padding: 40px;
    text-align: center;
    font-size: 21px;
    line-height: 40px;
}

#trustPilot {
    width: 250px;
    text-align: center;
    line-height: 36px;
    margin-left: 100px;
    margin-top: 50px;
    font-size: 20px;
    margin-bottom: 50px;
}
i.fas.fa-star {
    color: #00f513;;
}

i.far.fa-star {
    padding: 12px;
    margin-top: 15px;
    background: green;
    color: white;
}

div#Mention {
    background: #56525242;
    color: white;
    padding: 100px;
}

.image {margin-top: 25px;margin-left: 100px;}


footer {
    background: #034777d1;
    padding: 40px;
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
}
.footercontent {
    display: inline-block;
    margin-left: 215px;
    text-align: center;
    font-size: 15px;
}
